<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">
	
	<ui:define name="titulo">
		<title>Cadastro de Chamado</title>
	</ui:define>

	<ui:define name="conteudo">
		<h:form>
			<h1>Novo Chamado</h1>
			
			<h:messages />
			<fieldset>
				<p>Título do chamado:</p>
				<p><h:inputText value="#{chamadoMB.chamado.titulo}"
					required="true" requiredMessage="Título obrigatório" />
				</p>
				
				<p>Categoria do Chamado:</p>
				<p><h:inputText value="#{chamadoMB.chamado.categoria}"
					required="true" requiredMessage="categoria obrigatória" />
				</p>
				
				<p>Descrição do Chamado:</p>
				<p><h:inputText value="#{chamadoMB.chamado.descricao}"
					required="true" requiredMessage="Descrição obrigatória" />
				</p>
				
				<p><h:commandButton action="#{chamadoMB.cadastrar}" 
					value="Cadastrar" /></p>
			</fieldset>
		</h:form>
	</ui:define>
</ui:composition>