<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/include/template.xhtml">
	
	<ui:define name="titulo">
		<title>Meus Chamados</title>
	</ui:define>

	<ui:define name="conteudo">
		<h1>Lista de chamados</h1><br/>
		<h:form>
			<h:commandLink action="#{chamadoMB.novo}" 
				value="Abrir novo chamado"/>
		</h:form>
		<h:dataTable value="#{chamadoMB.listaChamados}" var="c">
			<h:column>
				<f:facet name="header">Título</f:facet>
				<h:outputText value="#{c.titulo}" />
			</h:column>
			<h:column>
				<f:facet name="header">Categoria</f:facet>
				<h:outputText value="#{c.categoria}" />
			</h:column>
			<h:column>
				<f:facet name="header">Descrição</f:facet>
				<h:outputText value="#{c.descricao}" />
			</h:column>
			<h:column>
				<f:facet name="header">Status</f:facet>
				<h:outputText value="#{c.status}" />
			</h:column>
		</h:dataTable>
		
		<br/>
		
	</ui:define>
</ui:composition>